:root {
    --primary-color: #1B1B1B;
    --highlight-color: yellow;
    --hover-highlight-color: yellow;
    --text-color: #E8E8E8;
    --text-color-contrast: white;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
}
/* General CSS */
.color-text {
    color: #E8E8E8; /* Replace this with your desired color */
}

/* Navbar */
.navbar-custom {
    background-color: #212121; /* Dark background color */
}

.start-button-section {
    background-color: #2d2d2d; /* Light gray background color */
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center; /* Center align button horizontally */
}

.start-button {
    width: 100%; /* Make the button take full width of its container */
    max-width: 100px; /* Optionally limit the maximum width of the button */
}

/* Compass */
.img-height {
    width: 30px; /* Adjust width of the images */
    height: auto; /* Maintain aspect ratio */
}

.img-compass {
    width: 200px; /* Adjust width of the images */
    height: auto; /* Maintain aspect ratio */
}

.badge {
    font-size: 20px;
    padding: 5px 10px;
}

.compass-section {
    background-color: #2d2d2d; /* Light gray background color */
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Speed Labels */
.speed-section {
    background-color: #2d2d2d; /* Light gray background color */
    padding-top: 15px;
    padding-bottom: 15px;
}

.circle-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

 .circle-label {
     width: 50px;
     height: 50px;
     background-color: #565656; /* Example blue color */
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 10px;
     border: 2px solid #E8E8E8; /* White border */
 }

.circle-lg {
    width: 80px; /* Larger size for circle */
    height: 80px; /* Larger size for circle */
}

.label-text {
    font-size: 12px;
    font-weight: bold;
}

/* Statistic */
.statistic-section {
    background-color: #1B1B1B; /* Light gray background color */
    padding-top: 15px;
    padding-bottom: 15px;
}
.img-small {
    width: 45px;
    height: 45px;
}

/* Save Button */
.button-section {
    background-color: #2d2d2d; /* Light gray background color */
    padding-top: 15px;
    padding-bottom: 15px;
}


/* Sidebar CSS */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hide the sidebar off-screen */
    width: 250px;
    height: 100vh;
    background-color: #1B1B1B;
    transition: left 0.3s ease;
    z-index: 1000; /* Ensure sidebar is above other content */
}

.sidebar.show {
    left: 0; /* Show the sidebar by setting left to 0 */
}

.sidebar ul li {
    padding: 10px;
    color: #E8E8E8;
}

.sidebar-link {
    color: inherit; /* Inherit text color from parent */
    text-decoration: none; /* Remove underline */
}

.sidebar-link:hover {
    text-decoration: none; /* Remove underline on hover */
    color: inherit; /* Inherit text color on hover */
}


/* Map CSS */
/* Adjusted z-index for Leaflet map */
#map {
    border-top: 5px solid #b7b7b7; /* Top border */
    border-bottom: 5px solid #b7b7b7; /* Bottom border */
    height: 400px; /* Set a height for the map container */
    position: relative;
    z-index: 999; /* Ensure map is below sidebar */
}




