<html>
<head>
    <title>Altitude</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../scripts/altitudeTest.js"></script>
</head>


<body>
    <h1>
        Altitude and vertical speed Data
    </h1>
    <p id="altitudeData"></p>
    <p id="orientationInfo"></p>
    <p id="orientation"></p>
    <p id="motionInfo"></p>
    <p id="motion"></p>
    <p id="motionData"></p>
    <button id="requestAltitudeButton"> Request Altitude</button>

    <p id="alpha"></p>
    <p id="beta"></p>
    <p id="gamma"></p> <br>
    <p id="betaShift"></p>
    <p id="gammaShift"></p> <br>

    <p id="AccelerationX"></p>
    <p id="AccelerationY"></p>
    <p id="AccelerationZ"></p>

    <p id="AccelerationUpDown"></p>
    <p id="SpeedUpDown"></p>
</body>

</html>
