<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../scripts/functions.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html,
        body,
        #map {
            height: 50%;
            width: 50vw;
        }

        #map {
            height: 520px;
        }
    </style>
</head>

<body>


    <p id="start"></p>

    <img id="compass" src="assets/compass.png">
    <p id="orientation"></p>
    <p id="orientationInfo"></p>
    <p id="permission"></p>
    <p id="motion"></p>
    <p id="motionInfo"></p>
    <p id="webkit"></p>
    <button id="requestOrientationPermissionButton">Click here for starting orientation </button>
    <button id="requestMotionPermissionButton">Click here for starting the Motion data</button>
    <button id="stopGeolocation">stop watching geolocation</button>
    <button id="startGeolocation">Restart the Geolocation</button>
    <p id ="motionSpeed"></p>
    <p id="groundSpeedInfo"></p>
    <p id="speed"></p>

    <!-- <button id="toggleButton">Toggle Device Motion</button> -->

    <!-- Elements to display device orientation and geolocation data -->
    <div id="orientationData"></div>
    <div id="geolocationData"></div>
    <div id="motionData"></div>
    <div id="map">Map</div>

</body>

</html>