<html>

<head>
    <title>Altitude</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <script type="module">
        import { altitude } from '../scripts/altitude.js';
        $(document).ready(function () {
          console.log("Document ready, initializing map.");
          altitude();
        });
      </script>
    <h1>
        Altitude Data
    </h1>
    <p id="altitudeData"></p>
    <h2>Orientation Info about permission</h2>
    <p id="orientationInfo"></p>
    <h2>Orientation supported?</h2>
    <p id="orientation"></p>
    <p id="motionInfo"></p>
    <p>Motion supported?</p>
    <p id="motion"></p>
    <button id="requestAltitudeButton"> Request Altitude</button>
</body>

</html>