<!DOCTYPE html>
<html>

<head>
    <title>Altitude 2</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="scripts/altitude2.js"></script>
</head>

<body>
    <h1>Altitude Data</h1>
    <p id="altitudeData"></p>
    <p id="speedData"></p>
    <h2>Orientation Info about permission</h2>
    <p id="orientation"></p>
    <p id="motionInfo"></p>
    <p>Motion supported?</p>
    <p id="motion"></p>
    <button id="requestAltitudeButton">Get Altitude</button>
</body>

</html>
