<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 50%;
            width: 50vw;
        }
        #map {
            height: 520px;
        }
    </style>
</head>
<body>
    <h1 id="start"></h1>

    <!-- <img id="compass" src="assets/compass.png"> -->
    <p id="orientation"></p>
    <p id="orientationInfo"></p>
    <p id="permission"></p>
    <!-- <p id="webkit"></p> -->
    <button id="requestOrientationPermissionButton">Click here for starting orientation </button>
    <button id="stopGeolocation">stop watching geolocation</button>
    <button id="startGeolocation">Restart the Geolocation</button>
    <p id="speed"></p>
    <p id="distance"></p>

    <div id="geolocationData"></div>
    <div id="map">Map</div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</body>
</html>
